


/* main.css */


#big, .big {
    display: block;
}

.fullscreen-big {
    overflow: hidden;
    height: 100%;
}


/* about.css */


#about p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* hook.css */


#slogan {
    top: 20%;
}

#slogan p, #slogan img.big {
    display: inline-block;
    vertical-align: middle;
}

#slogan p, #slogan img.big, #date {
    /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */ filter: alpha(opacity=0);
    /* Netscape */ -moz-opacity: 0;
    /* Safari 1.x */ -khtml-opacity: 0;
    /* Good browsers */ opacity: 0;
}

#slogan img.big { /* w = 170 */
    background: transparent url(../img/big/minifigs.png) no-repeat 0 0;
}

#slogan p {
    font-size: 3.125em;
}

#date {
    font-size: 2em;
}



/* infos.css */


#infos {
    padding-top: 5em;
}

#infos-columns {
    max-width: 1000px;
    width: 75%;
    margin: auto;
}

#infos-right, #infos-left {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

#infos-left {
    margin-right: 4%;
}


/* slideshow.css */


#slideshow-small {
    display: none;
}

#mask-rectangle {
    background: #0157D8;
    left: 60%;
}

#mask-triangle {
    width: 0; height: 0;
    left: auto; right: 40%;
    bottom: auto;
    border-style: solid;
    border-width: 0 0 2000px 300px;
    border-color: transparent;
    border-bottom-color: #0157D8;
}

#slides {
    width: 90%;
    top: 15%; bottom: 25%;
    overflow: hidden;
}

#slides img {
    position: relative;
    height: 100%;
}

#slide-legend {
    font-size: 1.2em;
    left: 50%;
    top: 15%; bottom: 25%;
    width: 300px;
    height: 500px;
    line-height: 500px;
}

#slide-legend img {
    cursor: pointer;
}

#slide-legend p {
    height: 8em;
}

#slides img,
#slide-legend h3,
#slide-legend p {
    display: none;
}

#slides img.active,
#slide-legend h3.active,
#slide-legend p.active {
    display: block;
}




/* team.css */


#faces {
    padding-top: 3%;
    margin: 0 auto;
    width: 870px;
}

#faces div {
    margin-top: 2em;
    vertical-align: top;
    display: inline-block;
    padding: 0 2em;
    width: 220px;
}
