
#hook {
    background: transparent url(../img/bg-bricks.jpg) no-repeat center 0;
    background-size: cover;
}

#logo {
    width: 580px;
    font-size: 1.125em;
    margin: 0 auto;
}

#logo img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#logo #lomme {
    width: 150px;
    background: white;
    padding: .5em;
    margin-right: 10px;
}

#logo div {
    display: inline-block;
    vertical-align: middle;
    line-height: 140%;
}

#date {
    top: 60%;
}

